.imagen {
    width:300px;
    height:300px;
    border-radius:150px;

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    color: lightseagreen;
}

#boton {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: red;
}